<main>
    <section id="section-banner">
        <video src="assets/DogMatchrBanner.mp4" autoplay muted loop></video>

        <div id="div-banner">
            <div>
                <h1>¡Encontrá a tu compañero ideal!</h1>
                <p-button styleClass="btn-custom" [rounded]="true">
                    <ng-template pTemplate="content">
                        <img src="assets/huella.png" alt="huella" width="20">
                        ¡Encontralo ahora!
                    </ng-template>
                </p-button>
            </div>

            <div>
                <h2>Explorá diferentes razas y elegí al que más se adapte a vos</h2>

                <p-iconfield>
                    <p-inputicon class="pi pi-search" />
                    <input type="search" pInputText placeholder="Buscar por raza" />
                </p-iconfield>
            </div>
        </div>
    </section>

    <!-- Section cards -->
    @if (!cargando) {
    <section id="sectionCards">
        <div>
            <a routerLink="razas">Descubrir más
                <i class="pi pi-arrow-right" style="color: var(--g900) ;"></i>
            </a>
        </div>

        @if (arrRazasLimit) {
        <div class="cards-container">
            @for (raza of arrRazasLimit; track raza.dogapi?.id) {
            <app-card-dog [dog]="raza" (dialog)="openDialogDetalleDog($event)"></app-card-dog>
            }
        </div>

        @if (selectedRaza) {
        <app-detalle-dog [nombre]="selectedRaza" [(visible)]="dialogVisible"></app-detalle-dog>
        }
        }
    </section>

    } @else {
    <app-spinner></app-spinner>
    }
</main>