<div class="card flex justify-center">
    <p-dialog header="{{razaResponse?.dogapi?.name}}" [(visible)]="visible" [modal]="true" (onHide)="closeDialog()"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
        [resizable]="false">

        <img alt="Card" src="{{razaResponse?.dogapi?.image?.url}}" class="dog-img" />

        
        <p>ENERGY: {{ ninja?.energy }}</p>
        

        <p>{{razaResponse?.dogapi?.bred_for}}</p>

        @for (t of temperament; track $index) {
        <p-chip label="{{t}}" class="chip-detalle" />
        }


        <section id="templateFooter">
            <div class="templateFooter-div">
                <div class="img-wrapper">
                    <img src="assets/reloj.png" class="img-origin-life" alt="life span">
                    <p>{{razaResponse?.dogapi?.life_span}}</p>
                </div>
                <div>
                    <img src="assets/pais.png" class="img-origin-life" alt="origin">
                    @if (razaResponse?.dogapi?.origin) { <p>{{razaResponse?.dogapi?.origin}}</p> } @else {<p>-</p>}
                </div>
            </div>
        </section>
    </p-dialog>
</div>