<div class="card flex justify-center">
    <p-dialog header="{{razaResponse?.dogapi?.name}}" [(visible)]="visible" [modal]="true" (onHide)="closeDialog()"
        [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '50vw' }" [draggable]="false"
        [resizable]="false">

        @if (!cargando) {

        <section id="sectionTop">
            <p-galleria [value]="images" [numVisible]="5" [circular]="true" [showItemNavigators]="true"
                [showThumbnails]="false" [containerStyle]="{ 'max-width': '520px' }">
                <ng-template pTemplate="item" let-item id="templateGallery">
                    <img [src]="item.itemImageSrc" style="width: 100%; display: block;" />
                </ng-template>
            </p-galleria>

            <section id="templateFooter">
                <div class="templateFooter-div">

                    <p>{{razaResponse?.dogapi?.bred_for}}</p>

                    @for (t of temperament; track $index) {
                    <p-chip label="{{t}}" class="chip-detalle" />
                    }

                    @if (ninja) {
                    <div class="div-vida-origen">
                        <div>
                            <img src="assets/pais.png" class="img-origin-life" alt="origin">
                            @if (razaResponse?.dogapi?.origin) { <p>{{razaResponse?.dogapi?.origin}}</p> } @else {<p>-
                            </p>}
                        </div>
                        <div class="img-wrapper">
                            <img src="assets/reloj.png" class="img-origin-life" alt="life span">
                            <p>{{razaResponse?.dogapi?.life_span}}</p>
                        </div>
                    </div>

                    <div class="div-attr">
                        <div class="img-wrapper-attr">
                            <i class="pi pi-angle-right" style="font-size: 20px; color: var(--g400); opacity: 0.7;"></i>
                            <p><strong>Pelaje: </strong> <span>{{coat_length}}</span></p>
                        </div>
                        <div class="img-wrapper-attr">
                            <i class="pi pi-angle-right" style="font-size: 20px; color: var(--g400); opacity: 0.7;"></i>
                            <p><strong>Altura: </strong><span>
                                    {{
                                    razaResponse?.dogapi?.height?.imperial
                                    ? (+razaResponse?.dogapi?.height?.imperial!.split('-')[1].trim() * (2.54)|
                                    number:'1.0')
                                    : 'No disponible'
                                    }}
                                    cm</span></p>
                        </div>
                        <div class="img-wrapper-attr">
                            <i class="pi pi-angle-right" style="font-size: 20px; color: var(--g400); opacity: 0.7;"></i>
                            <p><strong>Peso: </strong><span>{{((ninja.max_weight_male!) / (2.205)).toFixed(1)}}
                                    kg</span></p>
                        </div>
                    </div>

                    <!-- Información no disponible -->
                    } @else {
                    <div class="div-attr">
                        <div class="img-wrapper-attr">
                            <i class="pi pi-angle-right" style="font-size: 20px; color: var(--g400); opacity: 0.7;"></i>
                            <p><strong>Pelaje: </strong><span class="no-disponible">No disponible</span></p>
                        </div>
                        <div class="img-wrapper-attr">
                            <i class="pi pi-angle-right" style="font-size: 20px; color: var(--g400); opacity: 0.7;"></i>
                            <p><strong>Altura: </strong><span class="no-disponible">No disponible</span></p>
                        </div>
                        <div class="img-wrapper-attr">
                            <i class="pi pi-angle-right" style="font-size: 20px; color: var(--g400); opacity: 0.7;"></i>
                            <p><strong>Peso: </strong><span class="no-disponible">No disponible</span></p>
                        </div>
                    </div>
                    }

                </div>
            </section>

        </section>
        <!-- 
            Muda de pelo
            Aseo (grooming)
            Babeo
            Largo del pelaje

            Altura max y min
            Peso max y min
        -->
        <section class="section-props">
            <div id="section-div-props">
                <div class="div-props">
                    <img src="assets/energia.png" alt="">
                    <p>Energía</p>
                    <span>{{energy}}</span>
                </div>
                <div class="div-props">
                    <img src="assets/protector.png" alt="">
                    <p>Protector</p>
                    <span>{{protectiveness}}</span>
                </div>
                <div class="div-props">
                    <img src="assets/adiestramiento.png" alt="">
                    <p>Adiestramiento</p>
                    <span>{{trainability}}</span>
                </div>
                <div class="div-props">
                    <img src="assets/jugueton.png" alt="">
                    <p>Juguetón</p>
                    <span>{{playfulness}}</span>
                </div>
                <div class="div-props">
                    <img src="assets/ladrido.png" alt="">
                    <p>Ladrido</p>
                    <span>{{barking}}</span>
                </div>
                <div class="div-props">
                    <img src="assets/aseo.png" alt="">
                    <p>Aseo</p>
                    <span>{{grooming}}</span>
                </div>
            </div>


            <div id="section-props-bottom">
                <div class="div-props-bottom">
                    <div>
                        <img src="assets/nino_verde.png" alt="niños" class="props-bottom-img">
                        <p [ngClass]="estados.ninos">Bueno con niños</p>
                    </div>
                    <span class="s-verde">{{good_with_children_prop}}</span>
                </div>
                <div class="div-props-bottom">
                    <div>
                        <img src="assets/extranos_verde.png" alt="extraños" class="props-bottom-img">
                        <p [ngClass]="estados.extranos">Bueno con extraños</p>
                    </div>
                    <span class="s-verde">{{good_with_strangers}}</span>
                    <!-- <span class="s-rojo">Puede tener problemas con extraños</span> -->
                </div>
                <div class="div-props-bottom">
                    <div>
                        <img src="assets/huella_verde.png" alt="mascotas" class="props-bottom-img">
                        <p [ngClass]="estados.mascotas">Bueno con mascotas</p>
                    </div>
                    <span class="s-verde">{{good_with_other_dogs}}</span>
                    <!-- Puede tener problemas con otras mascotas -->
                </div>
            </div>
        </section>


        } @else {
        <app-spinner></app-spinner>
        }

    </p-dialog>
</div>