::ng-deep .p-dialog {
    width: 70vw !important;
}

::ng-deep .p-dialog-header {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

::ng-deep .p-galleria {
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 20px !important;
}

::ng-deep #sectionTop .p-galleria {
    margin: 0 auto;
}

#section-img {
    display: flex;
}

.chip-detalle {
    background-color: var(--n200) !important;
    color: var(--n800) !important;
}

.section-props {
    /* margin-top: 20px; */
}


#section-div-props,
#section-props-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#section-div-props .div-props:first-of-type img {
    width: 34px;
    /* margin-top: -10px; */
}

.div-props {
    background-color: var(--g100);
    border-radius: 8px;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-props img {
    width: 34px;
}

.div-props p {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.div-props span {
    font-size: 16px;
}



/* Template Footer */
.templateFooter-div div {
    display: flex;
    align-items: center;
}

.templateFooter-div div:first-of-type {
    margin-right: 1.5rem;
}

.templateFooter-div div p {
    margin: 0 0 0px 6px;
    font-size: 14px;
}

.img-origin-life {
    width: 16px;
}




/* Section props bottom */
#section-props-bottom {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.div-props-bottom {
    width: 100%;
    height: 140px;
    background-color: var(--v50);
    border-radius: 8px;
    border: 2px solid var(--v100);
    padding: 1rem;
}

.div-props-bottom div:first-of-type {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.div-props-bottom .p-verde {
    color: var(--v400);
    font-weight: 500;
}

.div-props-bottom .s-verde {
    color: var(--v300);
}

.props-bottom-img {
    width: 25px;
}


/* QUERIES */

@media (min-width: 576px) {
    .div-props {
        width: 48%;
        height: 120px;
        justify-content: space-between;
    }

    .div-props-bottom {
        height: 120px;
    }
}


@media (min-width: 768px) {
    .div-props-bottom {
        width: 48%;
        justify-content: space-between;
    }
}


@media (min-width: 992px) {}


@media (min-width: 1200px) {

    .div-props,
    .div-props-bottom {
        width: 32%;
        /* height: 110px; */
        justify-content: space-between;
    }
}


@media (min-width: 1400px) {
    #sectionTop {
        display: flex;
    }

    ::ng-deep .p-galleria {
        margin-right: 20px !important;
    }
}