/* You can add global styles to this file, and also import other style files */
@layer primeng;
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fredoka: "Fredoka", sans-serif --n100: #FFD5B8;
    --elms-sans: "Elms Sans", sans-serif;

    --n50:  #FFF8ED;
    --n100: #FFE2C4;
    --n200: #FFEDD4;
    --n300: #FFAA4D; 
    --n400: #EC9922;   
    --n500: #FF8D08;  
    --n600: #E07300;  
    --n700: #CD3500;  

    --g50: #EDE7DC;
    --g100: #F3F4F6;
    --g400: #475569;
    --g500: #4A5565;
    --g600: #474747;
    --g700: #3B3B3B;
    --g900: #0A0A0A;

    --v50: #F0FDF4;
    --v100: #7DF1A9;
    --v200: #00A63E;
    --v300: #008236;
    --v400: #0D542B;

    --r50: #FEF2F2;
    --r100: #FFA3A3;
    --r200: #EA1E28;
    --r300: #C10007;
    --r400: #82181A;
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--fredoka) !important;
    background-color: var(--surface-50);
    color: var(--typography-color);
    background-color: var(--n50) !important;
}

html,
body,
button,
input,
p,
h2,
h3,
h4,
h5,
span,
div {
    font-family: var(--elms-sans) !important;
    letter-spacing: 0.5px;
    word-spacing: -3px;
}

.margin-header {
    margin-top: 8rem;
}





/* @media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {} */