<p-card [style]="{ width: '20rem', overflow: 'hidden' }">
    <ng-template #header>
        <img alt="Card" src="{{dog.image?.url}}" class="dog-img" />
    </ng-template>
    <ng-template #title> {{dog.name}} </ng-template>
    <ng-template #subtitle> {{dog.bred_for}} </ng-template>

    <p-chip label="Action" />

    <ng-template #footer id="templateFooter">
        <div class="templateFooter-div">
            <div>
                <img src="assets/reloj.png" class="img-origin-life" alt="life span">
                <p>{{dog.life_span}}</p>
            </div>
            <div>
                <img src="assets/pais.png" class="img-origin-life" alt="origin">
                @if (dog.origin) { <p>{{dog.origin}}</p> } @else {<p>-</p>}
            </div>
        </div>
    </ng-template>
</p-card>