::ng-deep p-card {
    width: 20rem !important;
    height: 33rem !important;
    overflow: hidden !important;
    border-radius: 12px !important;
    border: 0px !important;
    box-shadow: 0px 2px 2px 1px var(--g50) !important;
    justify-content: space-between !important;
}

::ng-deep p-card:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 5px var(--g50) !important;
    transition: 0.3s !important;
}

::ng-deep p-chip {
    background-color: var(--g100) !important;
    font-size: 12px;
    color: var(--g500) !important;
    padding: 4px 10px !important;
    margin: 0 2px 10px 0;
    border-radius: 6px !important;
}

#template-title{
    padding-top: -5rem !important;

}

.dog-img {
    width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Template Footer */
.templateFooter-div div {
    display: flex;
    align-items: center;
}

.templateFooter-div div:first-of-type {
    margin-bottom: 10px;
}


.templateFooter-div div p {
    margin: 0 0 0px 10px;
    font-size: 14px;
}

.img-origin-life {
    width: 16px;
}


@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}



/* @media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {} */