::ng-deep p-card {
    /* background-color: red !important; */
    border-radius: 12px !important;
    border: 0px !important;
    outline: none !important;
    box-shadow: 0px 2px 2px 1px var(--g50) !important;
}

::ng-deep p-card:hover {
    cursor: pointer;
    box-shadow: 0px 5px 10px 5px var(--g50) !important;
    transition: 0.3s !important;
}

.dog-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Template Footer */
.templateFooter-div div {
    display: flex;
    align-items: center;
}

.templateFooter-div div:first-of-type {
    margin-bottom: 10px;
}


.templateFooter-div div p {
    margin: 0 0 0px 10px;
}

.img-origin-life {
    width: 20px;
}


@media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}



/* @media (min-width: 576px) {}


@media (min-width: 768px) {}


@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {} */