main {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}

::ng-deep #p-chip {
    cursor: pointer;
    background-color: var(--n600) !important;
    color: white !important;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 10px !important;
}

::ng-deep #p-chip:hover {
    opacity: 0.7;
}

::ng-deep #p-chip:active {
    background-color: var(--n100) !important;
    color: var(--n700) !important;
    opacity: 1;
}

.margin-header {
    margin: 2.5rem;
}

#paginatorRazas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vw;
}

#paginatorRazas div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
}

::ng-deep p-paginator {
    width: 100vw;
    background-color: transparent !important;
}

.cards-container {
    width: 100%;
}

#div-title {
    width: 100%;
    display: flex;
    flex-direction: column !important;
}

#div-title p:first-of-type {
    font-size: 20px;
}

#div-title p {
    margin: 0;
}



@media (min-width: 576px) {}


@media (min-width: 768px) {
    main {
        display: flex;
    }
}

@media (min-width: 840px) {
    main {
        flex-direction: row;
        justify-content: space-between;
    }
}


@media (min-width: 992px) {

}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}