<main>
    <section id="paginatorRazas">

        <div class="margin-header">
            <div id="div-title">
                <h1>Descubrí tu próxima raza favorita</h1>
                <p>
                    ¡Conocé las <strong>{{arrAllRazas.length}} razas</strong> que tenemos para vos!
                </p>
                <p>
                    Cada página muestra 20 perfiles con información detallada.
                    Filtrá por características.
                </p>
            </div>

            @if (!cargando) {

            @for (t of chipsFilters; track $index) {
            <p-chip id="p-chip" label="{{t}}" class="chip-detalle" />
            }

            <div class="cards-container">
                @for (raza of razasPaginadas(); track $index) {
                <app-card-dog [dog]="raza" (dialog)="openDialogDetalleDog($event)"></app-card-dog>
                }
            </div>
            } @else {
            <app-spinner></app-spinner>
            }
        </div>

        @if (!cargando) {
        <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows"
            [totalRecords]="arrAllRazas.length" [showCurrentPageReport]="true" />
        }

        @if (selectedRaza) {
        <app-detalle-dog [nombre]="selectedRaza" [(visible)]="dialogVisible"></app-detalle-dog>
        }
    </section>
</main>