#paginatorRazas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#paginatorRazas div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
}

::ng-deep p-paginator {
    width: 100vw;
    background-color: transparent !important;
}

