.footer {
  display: flex;
  justify-content: center;
  background-color: var(--n300);
  height: 2rem;
  margin-bottom: 0;
  bottom: 0;
  width: 100vw;
  z-index: 999;
}

.footer p {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  color: var(--g600);
  font-weight: 700;
  font-size: 0.85rem;
}

img {
  width: 22px;
}

a {
  text-decoration: none;
  color: var(--g600);
}
a:hover {
  color: var(--n700);
}
