#section-banner {
    position: relative;
}

#section-banner #div-banner {
    position: absolute;
    padding: 0 1rem;
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    top: 0;
}

video {
    width: 100vw;
    height: 40vh;
    object-fit: cover;
    filter: brightness(0.3);
}

h1 {
    color: white;
    font-size: 28px;
    font-family: "Fredoka";
    font-weight: 600;
    letter-spacing: 2px;
}

h2 {
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
}

input[type="search"] {
    background-color: transparent;
    width: 70vw;
    border-radius: 50px;
    color: white;
}

input[type="search"]:hover {
    border: 1px solid var(--g500);
}

input[type="search"]:focus {
    outline: 1px solid var(--n500);
}

input[type="search"]::placeholder,
p-inputicon {
    color: var(--p-inputtext-border-color);
}

::ng-deep .btn-custom {
    width: 70vw !important;
    font-weight: 600;
}

::ng-deep .btn-custom img {
    width: 36px !important;
}

input,
::ng-deep .btn-custom {
    height: 48px !important;
}


/* Section cards */
#sectionCards div:last-of-type{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 1rem;
    /* background-color: greenyellow !important; */
}


@media (min-width: 576px) {
    h1 {
        font-size: 32px;
    }
}


@media (min-width: 768px) {
    h1 {
        font-size: 38px;
    }

    h2{
        font-size: 20px;
    }
}


@media (min-width: 992px) {

    video {
        height: 50vh;
    }

    h2 {
        margin-bottom: 2rem;
    }

    input,
    ::ng-deep .btn-custom {
        height: 58px !important;
    }

    ::ng-deep .btn-custom {
        font-weight: 700;
        font-size: 20px;
    }


    input[type="search"] {
        width: 50vw;
    }

    ::ng-deep .btn-custom {
        width: 50vw !important;
    }

}


@media (min-width: 1200px) {
    h1 {
        font-size: 42px;
    }
}


@media (min-width: 1400px) {
    h1 {
        font-size: 48px;

    }

    input[type="search"] {
        width: 40vw;
    }

    ::ng-deep .btn-custom {
        width: 40vw !important;
    }
}