@layer primeng;
@import "primeicons/primeicons.css";
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --fredoka: "Fredoka", sans-serif --n100: #FFD5B8;
    --elms-sans: "Elms Sans", sans-serif;
    --n500: #FF8D08;

    --g500: #4A5565;
}


html,
body {
    padding: 0;
    margin: 0;
    font-family: var(--fredoka) !important;
    background-color: var(--surface-50);
    color: var(--typography-color);
}

html,
body,
button,
input,
p,
h2,
h3,
h4,
h5,
span,
div {
    font-family: var(--elms-sans) !important;
    letter-spacing: 0.5px;
    word-spacing: -3px;
}
